@golee:registry=https://git.medicalai.com:50001/api/v4/projects/246/packages/npm/
//git.medicalai.com:50001/api/v4/projects/246/packages/npm/:_authToken=glpat-vG6ph1h1Fhu8bx--HTnB
email=golee@medicalai.com
