@golee:registry=https://git.medicalai.com:50001/api/v4/projects/245/packages/npm/
//git.medicalai.com:50001/api/v4/projects/245/packages/npm/:_authToken=glpat-r7eVJCuieHS1WV3Y6V--
email=golee@medicalai.com
